@media (min-width: 768px) {
    #menu-button {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    #cards.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
    }
}